# **Data Extraction using API**



*   First, we extract the movie titles that we are going to work with, using the csv file we already have.



*   Then, extract each movie's data from the provided API and put it in a Data Frame.


*   Finaly, we save our data locally to csv file.

In [52]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import ast
# Extracting the titles from the csv file
movies = pd.read_csv("/content/Movies title.csv")

# Store the titles in a list
titles = []
for i in movies['Title']:
  titles.append(i)

data = []

for i in titles:
    # Customize the URL with the movie name as a variable that changes
    # throughout the loop
    URL = "https://www.omdbapi.com/?t="+i+"&apikey=fe1607ca"

    response = requests.get(URL)

    soup = BeautifulSoup(response.content, "html.parser")

    # Reformat the data record from a string to a dictionary
    d = ast.literal_eval(soup.text)

    # Append the
    data.append(d)

df = pd.DataFrame.from_records(data)

# Data **Transformation**


*  Transform the movies dataset  to the appropriate shape referring to the schema.

*   First, we apply the basic transformation to make sure our data is clean and in the correct format.

     1.   Dealing with nulls  (dropping it).
     2.   Format revision (data types, charset, date and time format).


*   Then, we apply the advanced transformation to enhance the quality of our data.

    1.   Derivation (deriving new attributes).

    2.   Dropping the unwanted columns for analysis (as the business owner specified before).
    3. Splitting (this is a useful step for dealing with multivalued attributes, splitting them into multiple single valued rows).
    4. Summarization (this step is for you, It will help you gain more insights about the data so make a good usage of it)

In [53]:
# Droping the unwanted columns for analysis (as the business owner specified)
df.drop(['Poster', 'DVD', 'Type', 'Awards' , 'Ratings' , 'totalSeasons' ,
         'Response', 'Error' , 'Website' , 'Production'], axis=1, inplace=True)

# Dealing with null and empty cells
df = df.dropna()

# ---------  Clear Data -------------- #

# Changing the 'rumtime' column from string to int
# Remove 'min' from Runtime column
# Dealing with cells that have 'N/A' values
df['Runtime'] = df['Runtime'].str.replace('N/A','0')
df['Runtime'] = df['Runtime'].str.strip('min')

# Cast 'Metascore' and 'imdbRating' to int type
# Delete rows with empty string
df['Metascore'] = df['Metascore'].str.replace('N/A','')
df = df[df.Metascore != '']
df = df[df.imdbRating !='']



# Changing the 'imbdVotes' column from string to int
# Remove the ',' from the column
df['imdbVotes'] = df['imdbVotes'].str.replace(',','')


# Changing the 'Boxoffice' column from string to int
# Remove the ',' and '$' from the column
df['BoxOffice'] = df['BoxOffice'].str.replace(',','')
df['BoxOffice'] = df['BoxOffice'].str.replace('$','')
df['BoxOffice'] = df['BoxOffice'].str.replace('N/A','0')
df = df[df.BoxOffice != '0']

df['Runtime'] = df['Runtime'].astype(int)
df['BoxOffice'] = df['BoxOffice'].astype(int)
df['imdbRating'] = df['imdbRating'].astype(float)
df['Metascore'] = df['Metascore'].astype(int)

pd.set_option('display.max_rows', None)

# Save the data to a csv file
df.to_csv("movies_data.csv")

<ipython-input-53-3c603492aa3e>:32: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['BoxOffice'] = df['BoxOffice'].str.replace('$','')

In [54]:
# Splitting Language column (Since, it is a multivalued attribute)

# To append the languages of each row after spliting
List = []
# Map to connect language with an ID
language_id = {}
#ID counter
ID = 1

# Iterate over the dataframe
for i, row in df.iterrows():
    # Getting Film ID & splitting the language column
    movieID = row['imdbID']
    language = str(row['Language']).replace(" ", "").split(',')
    # Iterate through every language to make the list
    for l in language:
      # Check if the language already has an ID
        if l not in language_id:
          # Assign each with language an ID
            language_id[l] = ID
            ID += 1
        List.append({'MovieID': movieID, 'Language': l, 'LanguageID': language_id[l]})

# Create a new DataFrame with the film_languages table
film_language= pd.DataFrame(List)
# Remove Duplicates
film_language = film_language.drop_duplicates(subset = "LanguageID")
film_language.to_csv("film_language.csv")
film_language

       MovieID             Language  LanguageID
0    tt2015381              English           1
2    tt1446714               Gaelic           2
5    tt3470600             Japanese           3
8    tt1386697              Spanish           4
10   tt2034800             Mandarin           5
13   tt3783958            Cantonese           6
15   tt1212428           Portuguese           7
16   tt1212428                 Tupi           8
18   tt1212428               German           9
22   tt1355644               French          10
24   tt3183660         CentralKhmer          11
30   tt4680182               Korean          12
35   tt4196776                Greek          13
39   tt3741834                Hindi          14
40   tt3741834              Bengali          15
41   tt2543164              Russian          16
45   tt1800302           Indonesian          17
53   tt2094766               Arabic          18
58   tt3385516               Polish          19
61   tt3385516    Egyptian(Ancient)          20
66   tt3498820                Xhosa          21
68   tt3498820             Romanian          22
72   tt2404435  NorthAmericanIndian          23
77   tt4276820              Yiddish          24
85   tt3717252                Saami          25
90   tt2911666            Hungarian          26
95   tt0490215                Latin          27
112  tt2802144              Swedish          28
114  tt4572514              Chinese          29
121  tt4776998             Armenian          30
124  tt4776998              Turkish          31
138  tt0361748              Italian          32
149  tt3553976            Esperanto          33
163  tt3460252              Persian          34
172  tt2005151             Albanian          35

In [55]:
# Splitting Actors Column

# List where the actors data will be saved
List = []
# Map to connect actor with an ID
actor_id = {}
# ID counter
ID = 1

# Iterate over the dataframe
for i, row in df.iterrows():
    # Getting Film ID & splitting the actors column
    movieID = row['imdbID']
    actor = str(row['Actors']).replace(" ", "").split(',')
    for a in actor:
      # Check if the actor already has an ID
        if a not in actor_id:
          # Assign the actor to an ID
            actor_id[a] = ID
            ID += 1
        List.append({'MovieID': movieID, 'Actor': a, 'ActorID': actor_id[a]}) #.....

# Create a new data frame with the film_actor table
film_actor = pd.DataFrame(List)
# Remove Duplicates
film_actor = film_actor.drop_duplicates(subset = "ActorID")
film_actor.to_csv("film_actor.csv")
film_actor

       MovieID                Actor  ActorID
0    tt2015381           ChrisPratt        1
1    tt2015381            VinDiesel        2
2    tt2015381        BradleyCooper        3
3    tt1446714          NoomiRapace        4
4    tt1446714  LoganMarshall-Green        5
5    tt1446714    MichaelFassbender        6
6    tt4972582          JamesMcAvoy        7
7    tt4972582       AnyaTaylor-Joy        8
8    tt4972582    HaleyLuRichardson        9
9    tt3470600   MatthewMcConaughey       10
10   tt3470600     ReeseWitherspoon       11
11   tt3470600       SethMacFarlane       12
12   tt1386697            WillSmith       13
13   tt1386697            JaredLeto       14
14   tt1386697         MargotRobbie       15
15   tt2034800            MattDamon       16
16   tt2034800             TianJing       17
17   tt2034800          WillemDafoe       18
18   tt3783958          RyanGosling       19
19   tt3783958            EmmaStone       20
20   tt3783958      RosemarieDeWitt       21
21   tt1212428        CharlieHunnam       22
22   tt1212428      RobertPattinson       23
23   tt1212428         SiennaMiller       24
24   tt1355644     JenniferLawrence       25
26   tt1355644         MichaelSheen       26
27   tt3183660        EddieRedmayne       27
28   tt3183660   KatherineWaterston       28
29   tt3183660          AlisonSudol       29
30   tt4846340       TarajiP.Henson       30
31   tt4846340       OctaviaSpencer       31
32   tt4846340        JanelleMon√°e       32
33   tt3748528        FelicityJones       33
34   tt3748528            DiegoLuna       34
35   tt3748528            AlanTudyk       35
36   tt3521164       Auli'iCravalho       36
37   tt3521164        DwayneJohnson       37
38   tt3521164          RachelHouse       38
39   tt4680182         AnneHathaway       39
40   tt4680182        JasonSudeikis       40
41   tt4680182        AustinStowell       41
42   tt2709768            LouisC.K.       42
43   tt2709768      EricStonestreet       43
44   tt2709768            KevinHart       44
45   tt2119532       AndrewGarfield       45
46   tt2119532       SamWorthington       46
47   tt2119532           LukeBracey       47
49   tt4196776        TommyLeeJones       48
50   tt4196776       AliciaVikander       49
51   tt3741834             DevPatel       50
52   tt3741834         NicoleKidman       51
53   tt3741834           RooneyMara       52
54   tt2543164             AmyAdams       53
55   tt2543164         JeremyRenner       54
56   tt2543164       ForestWhitaker       55
58   tt1800302        EdgarRam√≠rez       56
59   tt1800302    BryceDallasHoward       57
60   tt4034228         CaseyAffleck       58
61   tt4034228     MichelleWilliams       59
62   tt4034228         KyleChandler       60
63   tt1679335         AnnaKendrick       61
64   tt1679335     JustinTimberlake       62
65   tt1679335       ZooeyDeschanel       63
66   tt1628841        LiamHemsworth       64
67   tt1628841         JeffGoldblum       65
68   tt1628841          BillPullman       66
69   tt4651520            MilaKunis       67
70   tt4651520          KathrynHahn       68
71   tt4651520          KristenBell       69
73   tt2094766      MarionCotillard       70
74   tt2094766          JeremyIrons       71
75   tt4501244           ZoeyDeutch       72
76   tt4501244          JamesFranco       73
77   tt4501244        TangieAmbrose       74
79   tt4550098       JakeGyllenhaal       75
80   tt4550098       MichaelShannon       76
84   tt1431045         RyanReynolds       77
85   tt1431045       MorenaBaccarin       78
86   tt1431045           T.J.Miller       79
87   tt2592614        MillaJovovich       80
88   tt2592614             IainGlen       81
89   tt2592614            AliLarter       82
90   tt3498820           ChrisEvans       83
91   tt3498820      RobertDowneyJr.       84
92   tt3498820    ScarlettJohansson       85
95   tt0816692      JessicaChastain       86
96   tt1211837  BenedictCumberbatch       87
97   tt1211837      ChiwetelEjiofor       88
98   tt1211837        RachelMcAdams       89
99   tt2404435     DenzelWashington       90
101  tt2404435           EthanHawke       91
102  tt1700841            SethRogen       92
103  tt1700841          KristenWiig       93
104  tt1700841            JonahHill       94
105  tt4975722        MahershalaAli       95
106  tt4975722         NaomieHarris       96
107  tt4975722       TrevanteRhodes       97
108  tt4276820        MichaelKeaton       98
109  tt4276820         NickOfferman       99
110  tt4276820     JohnCarrollLynch      100
111  tt1366338     GabrielChavarria      101
112  tt1366338        Demi√°nBichir      102
113  tt1366338            TheoRossi      103
114  tt1298650           JohnnyDepp      104
115  tt1298650        Pen√©lopeCruz      105
116  tt1298650           IanMcShane      106
118  tt4540710           MarkStrong      107
119  tt4540710       GuguMbatha-Raw      108
120  tt2660888            ChrisPine      109
121  tt2660888        ZacharyQuinto      110
122  tt2660888            KarlUrban      111
123  tt2488496          DaisyRidley      112
124  tt2488496           JohnBoyega      113
125  tt2488496           OscarIsaac      114
126  tt3717252       KateBeckinsale      115
127  tt3717252            TheoJames      116
128  tt3717252        TobiasMenzies      117
129  tt4824302      JenniferAniston      118
130  tt4824302           KateHudson      119
131  tt4824302         JuliaRoberts      120
132  tt2911666          KeanuReeves      121
133  tt2911666       MichaelNyqvist      122
134  tt2911666           AlfieAllen      123
135  tt0468569        ChristianBale      124
136  tt0468569          HeathLedger      125
137  tt0468569         AaronEckhart      126
139  tt0490215           AdamDriver      127
140  tt0490215           LiamNeeson      128
141  tt4160708          StephenLang      129
142  tt4160708             JaneLevy      130
143  tt4160708        DylanMinnette      131
144  tt2674426         EmiliaClarke      132
145  tt2674426           SamClaflin      133
146  tt2674426          JanetMcTeer      134
147  tt1661275        GemmaArterton      135
149  tt1661275            BillNighy      136
150  tt3263904             TomHanks      137
152  tt3263904          LauraLinney      138
153  tt2975590           BenAffleck      139
154  tt2975590          HenryCavill      140
156  tt3289956             BrianCox      141
157  tt3289956          EmileHirsch      142
158  tt3289956      OpheliaLovibond      143
159  tt3631112           EmilyBlunt      144
160  tt3631112         HaleyBennett      145
161  tt3631112      RebeccaFerguson      146
162  tt2322441        DakotaJohnson      147
163  tt2322441          JamieDornan      148
164  tt2322441         JenniferEhle      149
166  tt0482571          HughJackman      150
168  tt2802144           ColinFirth      151
169  tt2802144         TaronEgerton      152
170  tt2802144      SamuelL.Jackson      153
171  tt4572514         MarkWahlberg      154
172  tt4572514     MichelleMonaghan      155
173  tt4572514          J.K.Simmons      156
174  tt1392190             TomHardy      157
175  tt1392190       CharlizeTheron      158
176  tt1392190        NicholasHoult      159
177  tt5195412        BryanCranston      160
178  tt5195412       JenniferGarner      161
179  tt5195412        VictoriaBruno      162
181  tt1860357          KurtRussell      163
182  tt1860357     DouglasM.Griffin      164
184  tt4776998       CharlotteLeBon      165
186  tt3640424             BradPitt      166
188  tt3640424          JaredHarris      167
189  tt3416532      LewisMacDougall      168
190  tt3416532      SigourneyWeaver      169
193  tt4682786         EdwardNorton      170
194  tt4682786          KateWinslet      171
195  tt2948356      GinniferGoodwin      172
196  tt2948356         JasonBateman      173
197  tt2948356            IdrisElba      174
199  tt0449088         OrlandoBloom      175
200  tt0449088       KeiraKnightley      176
205  tt0361748          DianeKruger      177
206  tt0361748              EliRoth      178
210  tt0087332           BillMurray      179
211  tt0087332           DanAykroyd      180
213  tt1375666     LeonardoDiCaprio      181
214  tt1375666  JosephGordon-Levitt      182
215  tt1375666           ElliotPage      183
216  tt3553976       ViggoMortensen      184
217  tt3553976         GeorgeMacKay      185
218  tt3553976        SamanthaIsler      186
223  tt2267998         RosamundPike      187
224  tt2267998    NeilPatrickHarris      188
227  tt0369610           TySimpkins      189
229  tt2361317          ElleFanning      190
230  tt2361317       BrendanGleeson      191
232  tt0499549           ZoeSaldana      192
236  tt3460252   JenniferJasonLeigh      193
242  tt1392214           ViolaDavis      194
243  tt0803096         TravisFimmel      195
244  tt0803096          PaulaPatton      196
245  tt0803096            BenFoster      197
250  tt2005151          MilesTeller      198
251  tt2005151           SteveLantz      199
254  tt2395427          MarkRuffalo      200
255  tt3799694         RussellCrowe      201
257  tt3799694         AngourieRice      202
258  tt4255304           AaronPoole      203
259  tt4255304         KennethWelsh      204
260  tt4255304            EllenWong      205
261  tt4714782       KristenStewart      206
262  tt4714782         LarsEidinger      207
263  tt4714782        SigridBouaziz      208

In [56]:
# Splitting Writers column

List = []
writer_id = {}
ID = 1

# Iterate over the dataframe
for i, row in df.iterrows():
    # Getting Film ID & splitting the writer column
    movieID = row['imdbID']
    writer = str(row['Writer']).replace(" ", "").split(',') #..
    for w in writer:
        # Check if the writer already has an ID
        if w not in writer_id:
           # Assign the writer to an ID
            writer_id[w] = ID
            ID += 1
        List.append({'MoveiID': movieID, 'Writer': w, 'WriterID': writer_id[w]})

# Create a new data frame with the film_actor table
film_writer = pd.DataFrame(List)
# Remove Duplicates
film_writer = film_writer.drop_duplicates(subset = "WriterID")
film_writer.to_csv("film_writer.csv")
film_writer

       MoveiID                  Writer  WriterID
0    tt2015381               JamesGunn         1
1    tt2015381           NicolePerlman         2
2    tt2015381               DanAbnett         3
3    tt1446714              JonSpaihts         4
4    tt1446714           DamonLindelof         5
5    tt1446714             DanO'Bannon         6
6    tt4972582        M.NightShyamalan         7
7    tt3470600           GarthJennings         8
8    tt1386697               DavidAyer         9
9    tt1386697           JohnOstrander        10
10   tt2034800            CarloBernard        11
11   tt2034800                DougMiro        12
12   tt2034800              TonyGilroy        13
13   tt3783958          DamienChazelle        14
14   tt1212428               JamesGray        15
15   tt1212428              DavidGrann        16
17   tt3183660             J.K.Rowling        17
18   tt4846340        AllisonSchroeder        18
19   tt4846340           TheodoreMelfi        19
20   tt4846340      MargotLeeShetterly        20
21   tt3748528              ChrisWeitz        21
23   tt3748528               JohnKnoll        22
24   tt3521164               JaredBush        23
25   tt3521164             RonClements        24
26   tt3521164              JohnMusker        25
27   tt4680182          NachoVigalondo        26
28   tt2709768               CincoPaul        27
29   tt2709768               KenDaurio        28
30   tt2709768              BrianLynch        29
31   tt2119532         RobertSchenkkan        30
32   tt2119532            AndrewKnight        31
33   tt4196776          PaulGreengrass        32
34   tt4196776        ChristopherRouse        33
35   tt4196776            RobertLudlum        34
36   tt3741834           SarooBrierley        35
37   tt3741834              LukeDavies        36
38   tt2543164           EricHeisserer        37
39   tt2543164               TedChiang        38
40   tt1800302          PatrickMassett        39
41   tt1800302              JohnZinman        40
42   tt4034228         KennethLonergan        41
43   tt1679335           JonathanAibel        42
44   tt1679335             GlennBerger        43
45   tt1679335           EricaRivinoja        44
46   tt1628841           NicolasWright        45
47   tt1628841            JamesA.Woods        46
48   tt1628841              DeanDevlin        47
49   tt4651520                JonLucas        48
50   tt4651520              ScottMoore        49
51   tt2094766          MichaelLesslie        50
52   tt2094766              AdamCooper        51
53   tt2094766             BillCollage        52
54   tt4501244             JohnHamburg        53
55   tt4501244               IanHelfer        54
56   tt4501244               JonahHill        55
57   tt4550098                 TomFord        56
58   tt4550098            AustinWright        57
59   tt3385516            SimonKinberg        58
60   tt3385516             BryanSinger        59
61   tt3385516        MichaelDougherty        60
62   tt1431045              RhettReese        61
63   tt1431045             PaulWernick        62
64   tt2592614        PaulW.S.Anderson        63
65   tt3498820       ChristopherMarkus        64
66   tt3498820          StephenMcFeely        65
67   tt3498820                JoeSimon        66
68   tt0816692           JonathanNolan        67
69   tt0816692        ChristopherNolan        68
71   tt1211837         ScottDerrickson        69
72   tt1211837         C.RobertCargill        70
73   tt2404435           AkiraKurosawa        71
74   tt2404435        ShinobuHashimoto        72
75   tt2404435              HideoOguni        73
76   tt1700841              KyleHunter        74
77   tt1700841            ArielShaffir        75
78   tt1700841               SethRogen        76
79   tt4975722            BarryJenkins        77
80   tt4975722     TarellAlvinMcCraney        78
81   tt4276820            RobertSiegel        79
82   tt1366338              ElginJames        80
83   tt1366338         CheoHodariCoker        81
84   tt1298650              TedElliott        82
85   tt1298650             TerryRossio        83
86   tt1298650           StuartBeattie        84
87   tt4540710          JonathanPerera        85
88   tt2660888               SimonPegg        86
89   tt2660888                DougJung        87
90   tt2660888         GeneRoddenberry        88
91   tt2488496          LawrenceKasdan        89
92   tt2488496              J.J.Abrams        90
93   tt2488496            MichaelArndt        91
94   tt3717252             CoryGoodman        92
95   tt3717252                KyleWard        93
96   tt3717252           KevinGrevioux        94
97   tt4824302             AnyaKochoff        95
98   tt4824302           MatthewWalker        96
99   tt4824302                TomHines        97
100  tt2911666            DerekKolstad        98
103  tt0468569            DavidS.Goyer        99
104  tt0490215                JayCocks       100
105  tt0490215          MartinScorsese       101
106  tt0490215             ShûsakuEndô       102
107  tt4160708             FedeAlvarez       103
108  tt4160708            RodoSayagues       104
109  tt2674426               JojoMoyes       105
110  tt1661275              LissaEvans       106
111  tt1661275             GabyChiappe       107
112  tt3263904          ToddKomarnicki       108
113  tt3263904     ChesleySullenberger       109
114  tt3263904           JeffreyZaslow       110
115  tt2975590             ChrisTerrio       111
117  tt2975590                 BobKane       112
118  tt3289956             IanGoldberg       113
119  tt3289956            RichardNaing       114
120  tt3631112      ErinCressidaWilson       115
121  tt3631112            PaulaHawkins       116
122  tt2322441             KellyMarcel       117
123  tt2322441               E.L.James       118
126  tt0482571       ChristopherPriest       119
127  tt2802144             JaneGoldman       120
128  tt2802144           MatthewVaughn       121
129  tt2802144              MarkMillar       122
130  tt4572514               PeterBerg       123
131  tt4572514                MattCook       124
132  tt4572514           JoshuaZetumer       125
133  tt1392190            GeorgeMiller       126
134  tt1392190         BrendanMcCarthy       127
135  tt1392190           NickLathouris       128
136  tt5195412            E.L.Doctorow       129
137  tt5195412            RobinSwicord       130
138  tt5195412      NathanielHawthorne       131
139  tt1860357  MatthewMichaelCarnahan       132
140  tt1860357             MatthewSand       133
141  tt1860357            DavidBarstow       134
142  tt4776998             TerryGeorge       135
144  tt3640424            StevenKnight       136
145  tt3416532             PatrickNess       137
146  tt3416532             SiobhanDowd       138
147  tt4682786               AllanLoeb       139
148  tt2948356             ByronHoward       140
149  tt2948356               RichMoore       141
154  tt0848228              JossWhedon       142
155  tt0848228                 ZakPenn       143
156  tt0361748        QuentinTarantino       144
160  tt0087332              DanAykroyd       145
161  tt0087332             HaroldRamis       146
162  tt0087332             RickMoranis       147
164  tt3553976                MattRoss       148
165  tt0993846           TerenceWinter       149
166  tt0993846           JordanBelfort       150
167  tt2267998            GillianFlynn       151
168  tt0369610               RickJaffa       152
169  tt0369610            AmandaSilver       153
170  tt0369610          ColinTrevorrow       154
171  tt2361317              BenAffleck       155
172  tt2361317            DennisLehane       156
173  tt0499549            JamesCameron       157
175  tt2140479             BillDubuque       158
176  tt1392214         AaronGuzikowski       159
177  tt0803096          CharlesLeavitt       160
178  tt0803096             DuncanJones       161
179  tt1454029              TateTaylor       162
180  tt1454029         KathrynStockett       163
181  tt2005151             StephenChin       164
182  tt2005151            ToddPhillips       165
183  tt2005151           JasonSmilovic       166
185  tt2395427                 StanLee       167
186  tt2395427               JackKirby       168
187  tt3799694              ShaneBlack       169
188  tt3799694        AnthonyBagarozzi       170
189  tt4255304         JeremyGillespie       171
190  tt4255304         StevenKostanski       172
191  tt4714782          OlivierAssayas       173

In [57]:
# Splitting Genres column

List = []
Genre_id = {}
ID = 1

# Iterate over the dataframe
for i, row in df.iterrows():
    movieID = row['imdbID']
    genre = str(row['Genre']).replace(" ", "").split(',')
    for g in genre:
        # Check if the Genre already has an ID
        if g not in Genre_id:
            # Assign the Genre to an ID
            Genre_id[g] = ID
            ID += 1
        List.append({'MovieID': movieID, 'Genre': g, 'GenreID': Genre_id[g]})

# Create a new data frame with the film_genre table
film_genre = pd.DataFrame(List)
# Remove Duplicates
film_genre = film_genre.drop_duplicates(subset = "GenreID")
film_genre.to_csv("film_genre.csv")
film_genre

       MovieID      Genre  GenreID
0    tt2015381     Action        1
1    tt2015381  Adventure        2
2    tt2015381     Comedy        3
4    tt1446714    Mystery        4
5    tt1446714     Sci-Fi        5
6    tt4972582     Horror        6
7    tt4972582   Thriller        7
8    tt3470600  Animation        8
10   tt3470600     Family        9
13   tt1386697    Fantasy       10
18   tt3783958      Drama       11
19   tt3783958      Music       12
21   tt1212428  Biography       13
24   tt1355644    Romance       14
31   tt4846340    History       15
55   tt1800302      Crime       16
182  tt0361748        War       17

In [58]:
# Splitting Countries column

List = []
Country_id = {}
ID = 1

# Iterate over the dataframe
for i, row in df.iterrows():
    movieID = row['imdbID']
    contry = str(row['Country']).replace(" ", "").split(',')
    for c in contry:
        # Check if the Country already has an ID
        if c not in Country_id:
            # Assign the Genre to an ID
            Country_id[c] = ID
            ID += 1
        List.append({'MovieID': movieID, 'Country': c, 'CountryID': Country_id[c]})

# Create a new data frame with the film_country table
film_country = pd.DataFrame(List)
# Remove Duplicates
film_country = film_country.drop_duplicates(subset = "CountryID")
film_country.to_csv("film_country.csv")
film_country

       MovieID        Country  CountryID
0    tt2015381   UnitedStates          1
1    tt1446714  UnitedKingdom          2
4    tt4972582          Japan          3
7    tt3470600         France          4
10   tt2034800          China          5
11   tt2034800       HongKong          6
12   tt2034800      Australia          7
13   tt2034800         Canada          8
25   tt4680182          Spain          9
27   tt4680182     SouthKorea         10
39   tt4196776        Germany         11
43   tt3741834          India         12
57   tt2094766         Taiwan         13
58   tt2094766          Malta         14
79   tt4276820         Greece         15
101  tt0490215         Mexico         16
103  tt4160708        Hungary         17
107  tt1661275         Sweden         18
159  tt2005151        Romania         19
165  tt4714782  CzechRepublic         20
166  tt4714782        Belgium         21

In [59]:
# Splitting Countries column

List = []
Country_id = {}
ID = 1

# Iterate over the dataframe
for i, row in df.iterrows():
    movieID = row['imdbID']
    contry = str(row['Country']).replace(" ", "").split(',')
    for c in contry:
        # Check if the Country already has an ID
        if c not in Country_id:
            # Assign the Genre to an ID
            Country_id[c] = ID
            ID += 1
        List.append({'MovieID': movieID, 'Country': c, 'CountryID': Country_id[c]})

# Create a new data frame with the film_country table
film_country = pd.DataFrame(List)
# Remove Duplicates
film_country = film_country.drop_duplicates(subset = "CountryID")
film_country.to_csv("film_country.csv")
film_country

       MovieID        Country  CountryID
0    tt2015381   UnitedStates          1
1    tt1446714  UnitedKingdom          2
4    tt4972582          Japan          3
7    tt3470600         France          4
10   tt2034800          China          5
11   tt2034800       HongKong          6
12   tt2034800      Australia          7
13   tt2034800         Canada          8
25   tt4680182          Spain          9
27   tt4680182     SouthKorea         10
39   tt4196776        Germany         11
43   tt3741834          India         12
57   tt2094766         Taiwan         13
58   tt2094766          Malta         14
79   tt4276820         Greece         15
101  tt0490215         Mexico         16
103  tt4160708        Hungary         17
107  tt1661275         Sweden         18
159  tt2005151        Romania         19
165  tt4714782  CzechRepublic         20
166  tt4714782        Belgium         21

In [62]:
import numpy as np
# Splitting Released Date column

List = []
for i, row in df.iterrows():
  imdbID = row['imdbID']
  date = str(row['Released'])
  day, month, year = date.split()
  List.append({"Day":day,"Month":month,"Year":year,"imdbID":imdbID})
rd_ID = np.arange(len(df.index))
released_date = pd.DataFrame(List)
released_date["ReleasedDateID"] = rd_ID +1
released_date.to_csv("released_date.csv")
released_date

   Day Month  Year     imdbID  ReleasedDateID
0   01   Aug  2014  tt2015381               1
1   08   Jun  2012  tt1446714               2
2   20   Jan  2017  tt4972582               3
3   21   Dec  2016  tt3470600               4
4   05   Aug  2016  tt1386697               5
5   17   Feb  2017  tt2034800               6
6   25   Dec  2016  tt3783958               7
7   21   Apr  2017  tt1212428               8
8   21   Dec  2016  tt1355644               9
9   18   Nov  2016  tt3183660              10
10  06   Jan  2017  tt4846340              11
11  16   Dec  2016  tt3748528              12
12  23   Nov  2016  tt3521164              13
13  21   Apr  2017  tt4680182              14
14  08   Jul  2016  tt2709768              15
15  04   Nov  2016  tt2119532              16
16  29   Jul  2016  tt4196776              17
17  06   Jan  2017  tt3741834              18
18  11   Nov  2016  tt2543164              19
19  27   Jan  2017  tt1800302              20
20  16   Dec  2016  tt4034228              21
21  04   Nov  2016  tt1679335              22
22  24   Jun  2016  tt1628841              23
23  29   Jul  2016  tt4651520              24
24  21   Dec  2016  tt2094766              25
25  23   Dec  2016  tt4501244              26
26  09   Dec  2016  tt4550098              27
27  27   May  2016  tt3385516              28
28  12   Feb  2016  tt1431045              29
29  27   Jan  2017  tt2592614              30
30  06   May  2016  tt3498820              31
31  07   Nov  2014  tt0816692              32
32  04   Nov  2016  tt1211837              33
33  23   Sep  2016  tt2404435              34
34  12   Aug  2016  tt1700841              35
35  18   Nov  2016  tt4975722              36
36  20   Jan  2017  tt4276820              37
37  28   Apr  2017  tt1366338              38
38  20   May  2011  tt1298650              39
39  09   Dec  2016  tt4540710              40
40  22   Jul  2016  tt2660888              41
41  18   Dec  2015  tt2488496              42
42  06   Jan  2017  tt3717252              43
43  29   Apr  2016  tt4824302              44
44  24   Oct  2014  tt2911666              45
45  18   Jul  2008  tt0468569              46
46  13   Jan  2017  tt0490215              47
47  26   Aug  2016  tt4160708              48
48  03   Jun  2016  tt2674426              49
49  07   Apr  2017  tt1661275              50
50  09   Sep  2016  tt3263904              51
51  25   Mar  2016  tt2975590              52
52  21   Dec  2016  tt3289956              53
53  07   Oct  2016  tt3631112              54
54  13   Feb  2015  tt2322441              55
55  20   Oct  2006  tt0482571              56
56  13   Feb  2015  tt2802144              57
57  13   Jan  2017  tt4572514              58
58  15   May  2015  tt1392190              59
59  19   May  2017  tt5195412              60
60  30   Sep  2016  tt1860357              61
61  21   Apr  2017  tt4776998              62
62  23   Nov  2016  tt3640424              63
63  06   Jan  2017  tt3416532              64
64  16   Dec  2016  tt4682786              65
65  04   Mar  2016  tt2948356              66
66  25   May  2007  tt0449088              67
67  04   May  2012  tt0848228              68
68  21   Aug  2009  tt0361748              69
69  07   Jul  2006  tt0383574              70
70  08   Jun  1984  tt0087332              71
71  16   Jul  2010  tt1375666              72
72  29   Jul  2016  tt3553976              73
73  25   Dec  2013  tt0993846              74
74  03   Oct  2014  tt2267998              75
75  12   Jun  2015  tt0369610              76
76  13   Jan  2017  tt2361317              77
77  18   Dec  2009  tt0499549              78
78  30   Dec  2015  tt3460252              79
79  14   Oct  2016  tt2140479              80
80  20   Sep  2013  tt1392214              81
81  10   Jun  2016  tt0803096              82
82  10   Aug  2011  tt1454029              83
83  19   Aug  2016  tt2005151              84
84  01   May  2015  tt2395427              85
85  20   May  2016  tt3799694              86
86  07   Apr  2017  tt4255304              87
87  10   Mar  2017  tt4714782              88